@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 42 100% 50%;
    --primary-dark: 42 100% 45%;
    --primary-foreground: 0 0% 7%;
    --secondary: 0 0% 7%;
    --secondary-dark: 0 0% 18%;
    --secondary-foreground: 0 0% 100%;
    --accent: 210 100% 14%;
    --accent-dark: 210 100% 11.7%;
    --accent-foreground: 0 0% 100%;
    --muted: 218.6 14.3% 80%;
    --muted-dark: 218.6 14.3% 75%;
    --muted-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-dark: 0 84.2% 50.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 42 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply bg-background text-foreground;
  }
}
